    </main>
    <footer class="site-footer">
      <div class="footer-columns">
        <div>
          <h4>Platform</h4>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#" aria-disabled="true">Status</a></li>
          </ul>
        </div>
        <div>
          <h4>Support</h4>
          <ul>
            <li><a href="#" aria-disabled="true">Documentation</a></li>
            <li><a href="#" aria-disabled="true">Contact</a></li>
          </ul>
        </div>
        <div>
          <h4>Trust & Safety</h4>
          <ul>
            <li><a href="#" aria-disabled="true">Privacy</a></li>
            <li><a href="#" aria-disabled="true">Security</a></li>
            <li><a href="#" aria-disabled="true">Terms</a></li>
          </ul>
        </div>
      </div>
      <p class="copyright">© <%= new Date().getFullYear() %> Monetize Hub. All rights reserved.</p>
    </footer>
  </body>
</html>
